---
layout: default
---
<article id="post-page">
	<h2>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}
		
	</div>
	{% if page.tags != empty %}
	    <footer>
	      <p>Read more:</p>
	      <ul class="tag-list">
		{% for tag in page.tags %}
		<li><a href="{{ site.tag_dir | prepend: '/' }}/{{ tag | uri_escape }}">{{ tag }}</a></li>
		{% endfor %}
	      </ul>
	    </footer>
	{% endif %}
</article>

